# Data Exploration

## Basic setup

In [7]:
import os
import pandas as pd

REL_DB_LOC = './clean/evs_per_capita.sqlite'
DB_CON = 'sqlite:///clean/evs_per_capita.sqlite'

data_found = os.path.exists(REL_DB_LOC)

if not data_found:
    raise SystemExit("No data found! Please execute 'data_pipeline.py' first!")

## Import the data

In [8]:
df = pd.read_sql('evs_per_capita', DB_CON)

## Data description

In [9]:
df.describe()

,electric_total,hybrid_total,total,share_electric,gdp_per_capita
count,16.000000,16.000000,16.000000,16.000000,16.000000
mean,1857.375000,3713.812500,12676.812500,0.435522,44579.812500
std,2117.656027,4314.735654,14135.044427,0.057254,11537.411849
min,191.000000,511.000000,1349.000000,0.350233,32837.000000
25%,350.000000,805.500000,3143.750000,0.391129,35584.250000
50%,781.500000,1891.000000,6079.500000,0.439764,41596.000000
75%,3042.750000,4616.500000,20811.750000,0.467008,50808.750000
max,6228.000000,14286.000000,43821.000000,0.532433,76910.000000

In [10]:
## Data types

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   federal_state   16 non-null     object
 1   electric_total  16 non-null     int64
 2   hybrid_total    16 non-null     int64
 3   total           16 non-null     int64
 4   share_electric  16 non-null     float64
 5   gdp_per_capita  16 non-null     int64
dtypes: float64(1), int64(4), object(1)
memory usage: 900.0+ bytes

## Example data

In [12]:
df.head()

,federal_state,electric_total,hybrid_total,total,share_electric,gdp_per_capita
0,Baden-Württemberg,4917,9795,29256,0.502871,50982
1,Bayern,5935,14286,43821,0.461445,53768
2,Berlin,903,2487,6367,0.532433,48147
3,Brandenburg,529,938,3349,0.438041,34610
4,Bremen,191,512,1349,0.521127,56901